@import "/src/css/fontiran.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .faNum {
        -moz-font-feature-settings: "ss03";
        -webkit-font-feature-settings: "ss03";
        font-feature-settings: "ss03";
    }
    /* ... */
}